.f{
    font-family: Impact, Charcoal, sans-serif;
    font-size: 1.2rem;
    font-weight: normal;
    font-style: normal;
}
.f a{
    color: rgb(121, 134, 163);
    text-decoration: none;
}
body{
    background-color: rgb(19, 28, 46);;
    margin: 0px
}
.root{
    display: grid;
    grid-template-columns: 1fr;
}
.topbar{
    background-color: rgb(14, 23, 38);
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
.topbar-left{
    display: flex;
}
.topbar-right{
    display: flex;
}
.page-links{
    display: flex;
}
.topbar>.topbar-left>.page-links>div{
    margin-right: 20px;
    font-size: 0.9em;
}
.link-box{
    height: 22px;
}
.link-box a{
    transition: color 0.5s;
}

.link-box a:hover{
    color: rgb(229, 235, 239);;
}